* {
    box-sizing: border-box;
   }
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 10px auto;
    padding: 10px;
}

.card-container {
    width: 33%;
    padding: 3%;
}

.input-container{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: 10px auto;
    padding: 10px;

}